h1 {
	color:orange;
	text-align:center;
}

body {
	font-family: 'Lato', 'sans-serif';
}

.event-time-div {
	font-size: 24;
	padding: 20% 0% 20% 0%;
}

.event-time-div span {
	font-size: 16;
}

/*.event-time-date {
	font-size: 20;
}*/

.event-entry-overview {
	min-height: 60;
	border-top: solid 1px #A7DBD8;
}

.event-description-div{
	font-size: 18;
	padding-top: 25;
}

.event-entry-detail {
	background-color: #C6E5D9;
	display: none;
	padding: 10 30 10 30;
	margin-left: -15px;
	margin-right: -15px;
	color: #556270;
}

.event-detail-description-div {
	color: #2E2633;	
}
/*	$( "." ).css("min-height", "40");
	$( ".event-entry-div" ).css("padding", "2% 0% 2% 0%");
	$( ".event-entry-detail" ).css("padding", "2% 5% 2% 5%");*/