{% load staticfiles %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="{% static 'lumoapp/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lumoapp/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lumoapp/css/style.css' %}" />

<h1>Hello Lumo</h1>

<div class="container-fluid">
	{% for evt in events %}
    <div class="event-entry-div" data-id="{{ evt.id }}">
    	<div class="row event-entry-overview">
	    	<div class="col-xs-5">
	    		<div class='event-time-div'>
	    			{{ evt.start_time.hour}} : {{ evt.start_time.minute}} <span>{{ evt.start_time.suffix}}</span>
	    		</div>
<!-- 	    		<div class='event-date-div'>
	    			{{ evt.start_time.month }} {{ evt.start_time.date}}
	    		</div> -->
	    	</div>
	    	<div class="col-xs-7">
	    		<div class="event-description-div">{{ evt.description }}</div>
	    	</div>
    	</div>
    	<div class="event-entry-detail">
    	  <div class="row">
    	  	<div class="col-xs-8 event-detail-description-div">
    	  		<b>{{ evt.description}}</b>
    	  	</div>
     	  	<div class="col-xs-4 event-detail-remind-div event-detail-row">
     	  		<img src="{% static 'lumoapp/img/tones-20.png' %}"></img> {{ evt.reminder_time}} min
    	  	</div>
    	  </div>
    		<div class="row event-detail-datetime-div event-detail-row">{{ evt.start_time.month }} {{ evt.start_time.date}},
    										 {{ evt.start_time.hour}}:{{ evt.start_time.minute}} {{ evt.start_time.suffix}} - {{ evt.end_time.hour}}:{{ evt.end_time.minute}} {{ evt.end_time.suffix}}
    		</div>
    		<div class="row event-detail-location-div event-detail-row">{{ evt.location}}</div>
    	</div>
    </div>
	{% endfor %}
</div>

<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom footer-div">
        <div class="navbar-inner navbar-content-center"> 
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-xs-6 footer-col-div" id="footer-alarm-div">
        				<img src="{% static 'lumoapp/img/alarm-25.png' %}"></img>
        			</div>
        			<div class="col-xs-6 footer-col-div" id="footer-bed-div">
        				<img src="{% static 'lumoapp/img/bed-25.png' %}"></img>
        			</div>
        		</div>
        	</div>
        </div>
    </nav>
</div>

<div class="modal fade alert" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Dynamically add content. -->
    </div>
  </div>
</div>

<div class="modal fade alarm-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Dynamically add content. -->
      <div class='container-fluid'>
      	<div class='row alarm-set-div'></div>
      	<div class='row alarm-confirm-div'></div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade bed-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Dynamically add content. -->
      <div class='container-fluid'>
      	<div class='row dim-set-div'></div>
      	<div class='row dim-confirm-div'></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'lumoapp/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lumoapp/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lumoapp/js/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'lumoapp/js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'lumoapp/js/home.js' %}"></script>
