{% load staticfiles %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="{% static 'lumoapp/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lumoapp/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lumoapp/css/style.css' %}" />

<h1>Hello Lumo</h1>

<div class="container-fluid">
	{% for evt in events %}
    <div class="event-entry-div">
    	<div class="row event-entry-overview">
	    	<div class="col-xs-5">
	    		<div class='event-time-div'>
	    			{{ evt.start_time.hour}} : {{ evt.start_time.minute}} <span>{{ evt.start_time.suffix}}</span>
	    		</div>
<!-- 	    		<div class='event-date-div'>
	    			{{ evt.start_time.month }} {{ evt.start_time.date}}
	    		</div> -->
	    	</div>
	    	<div class="col-xs-7 event-description-div">{{ evt.description }}</div>
    	</div>
    	<div class="event-entry-detail">
    	  <div class="row event-detail-description-div"><b>{{ evt.description}}</b></div>
    		<div class="row event-detail-datetime-div">{{ evt.start_time.month }} {{ evt.start_time.date}},
    										 {{ evt.start_time.hour}}:{{ evt.start_time.minute}} {{ evt.start_time.suffix}} - end_time
    		</div>
    		<div class="row event-detail-location-div">{{ evt.location}}</div>
    		<div class="row event-detail-remind-div">Reminder scheduled {{ evt.reminder_time}} min ahead</div>
    	</div>
    </div>
	{% endfor %}
</div>

<script type="text/javascript" src="{% static 'lumoapp/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lumoapp/js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
	$( ".event-entry-overview" ).click(function() {
		// 	console.log($( this ).css( "background-color"));
		$( this ).css( "background-color", "FCFEF5");
		var cur_detail =  $( this ).next('.event-entry-detail');
		if (cur_detail.is( ":hidden" ) ) {
	    cur_detail.slideDown();
	  } else {
	  	$( this ).css( "background-color", "FFFFFF");
	    cur_detail.slideUp();
	  }
	});

	// cut the tail of text that's too long
  $( ".event-description-div" ).each(function( index ) {
  	var text = $( this ).text()
  	if (text.length > 18) {
  		$(this).html(text.substr(0, 18) + '...')
  	}
	  // console.log( index + ": " + text );
	});

  $( ".event-detail-location-div" ).each(function( index ) {
  	var text = $( this ).text()
  	if (text.length > 0) {
  		$(this).html('At:' + text)
  	}
	});


	
</script>
